small {
    font-size: $small-font;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: $medium-font-color;


}

h1,
h2 {
    font-family: serif;
    color: $darker-font-color;
}

.newsletter-container,
header,
main {
    overflow-x: hidden;
}

h1 {
    font-size: $large-font;
    font-weight: lighter;
    text-transform: uppercase;
    padding: 0.75rem;
}

h2 {
    color: $dark-font-color;
    font-size: $medium-font;
    font-weight: lighter;
    text-transform: capitalize;
}

h4 {
    color: $dark-font-color;
    font-family: serif;
    font-weight: lighter;
    text-transform: capitalize;
}

p {
    font-size: 0.7rem;
    letter-spacing: 1px;
}

.caption-text {
    font-size: 1rem;
    padding: 1rem 0;
}

.text-centered {
    text-align: center;
}


a {
    &:hover {
        opacity: 0.8;
    }

    &:hover .post__img {
        opacity: 0.8;
    }

    color: inherit;
    text-decoration: none;

}

.btn {
    font-size: $small-font;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.btn-light {
    color: $medium-font-color;
}

.dotted {
    border-bottom: 1px dotted
}