.ls2 {
    letter-spacing: 2px;
}

small {
    letter-spacing: 3px;
    font-size: 0.7rem;
    text-transform: uppercase;
    color: $medium-font;
}


h1,
h2 {
    font-family: serif;
    color: $darker-font;
}

h1 {
    color: $darker-font;
    font-size: 2.5rem;
    font-weight: 1;
    text-transform: uppercase;
}

h2 {
    color: $dark-font;
    letter-spacing: 1px;
    font-size: 1.2rem;
    font-weight: 1;
    text-transform: capitalize;
    font-weight: lighter;
}

h4 {
    color: $dark-font;
    font-weight: 1;
    font-family: serif;
    padding: 1rem;
    text-transform: capitalize;
}

p {
    font-size: 0.7rem;
}



a:hover {
    opacity: 0.8;

}

a {
    color: inherit;
    text-decoration: none;
}

.full-img {
    height: 100vh !important;
}