$light-font: rgb(233, 233, 233);
$medium-font: rgb(155, 155, 155);
$dark-font: rgb(78, 78, 78);
$darker-font: rgb(36, 36, 36);
$primary-dark: rgb(114, 114, 114);
$background-color: #ffffff;
$dark-bg: rgb(70, 65, 63);
$medium-bg: rgb(221, 221, 221);

// Margin & Padding. Each # will be halved
$spaceamounts: (1, 2, 3, 4, 5);

@each $space in $spaceamounts {

    // All values are halved. p-1 = padding: 0.5rem;
    // All around margin. Select .m-1, .m-2 etc
    .m-#{$space} {
        margin: #{$space*0.5}/2rem;
    }

    // Vertical Margin
    .my-#{$space} {
        margin: #{$space*0.5}rem 0;
    }

    .mx-#{$space} {
        margin: 0 #{$space*0.5}rem;

    }

    // All around Padding. Select .m-1, .m-2 etc
    .p-#{$space} {
        padding: #{$space*0.5}rem;
    }

    .px-#{$space} {
        padding: #{$space*0.5}rem;
    }

    // Vertical Padding
    .py-#{$space} {
        padding: #{$space*0.5}rem 0;
    }

}

.vertical-bar {
    width: 1px;
    height: 20px;
    margin-bottom: -5px;
    margin-right: 1rem;
    background: rgba(255, 255, 255, .5);
}

.horizontal-bar {
    width: 90%;
    height: 1px;
    background: rgb(218, 218, 218);
    margin: 0 auto;
    margin: 3rem;
}

.dot-decoration {
    background-color: rgb(75, 75, 75) !important;
    width: 5px;
    height: 5px;
    border-radius: 100%;
    margin: 1rem auto;
}

.large-img {
    background: url('/imgs/forest.jpg') center/cover no-repeat;
}

.active-post {
    background-color: white !important;
}

.flex {
    display: flex;
}

.dark-bg {
    background-color: $dark-bg;
    color: $light-font;

    input::placeholder {
        color: rgba(255, 255, 255, 0.5);
    }
}

.medium-bg {
    background-color: $medium-bg;
}

li {
    list-style: none;
}

.left-col,
.right-col {
    flex: 1;
}

.margin-down {
    margin: -4rem 0 0 2rem;
}

.large-img {
    height: 35rem;
    min-height: 2rem;
    max-height: 35rem;
    width: 100%;
}