$logo-img-font: 3rem;
$large-font:2.5rem;
$medium-font:1.2rem;
$small-font: 0.6rem;

$light-font-color: rgb(233, 233, 233);
$medium-font-color: rgb(155, 155, 155);
$dark-font-color: rgb(78, 78, 78);
$darker-font-color: rgb(36, 36, 36);
$primary-dark-color: rgb(114, 114, 114);
$background-color-color: #ffffff;
$dark-bg-color: rgb(70, 65, 63);
$medium-bg-color: rgb(221, 221, 221);