* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0; }

.m-1 {
  margin: 1rem; }

.my-1 {
  margin: 1rem 0; }

.p-1 {
  padding: 1rem; }

.py-1 {
  padding: 1rem 0; }

.m-2 {
  margin: 2rem; }

.my-2 {
  margin: 2rem 0; }

.p-2 {
  padding: 2rem; }

.py-2 {
  padding: 2rem 0; }

.m-3 {
  margin: 3rem; }

.my-3 {
  margin: 3rem 0; }

.p-3 {
  padding: 3rem; }

.py-3 {
  padding: 3rem 0; }

.m-4 {
  margin: 4rem; }

.my-4 {
  margin: 4rem 0; }

.p-4 {
  padding: 4rem; }

.py-4 {
  padding: 4rem 0; }

.m-5 {
  margin: 5rem; }

.my-5 {
  margin: 5rem 0; }

.p-5 {
  padding: 5rem; }

.py-5 {
  padding: 5rem 0; }

.vertical-bar {
  width: 1px;
  height: 20px;
  margin-bottom: -5px;
  margin-right: 1rem;
  background: rgba(255, 255, 255, 0.5); }

.max-width {
  max-width: 1200px;
  margin: 0 auto; }

.dot-decoration {
  background-color: #4b4b4b !important;
  width: 5px;
  height: 5px;
  border-radius: 100%; }

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 500; }

.newsletter-container {
  background-color: #727272;
  padding: 0.5rem 2rem 0.5rem 0.5rem; }

.newsletter-join {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #e9e9e9;
  font-size: 0.8rem; }
  .newsletter-join div,
  .newsletter-join p {
    display: inline-block; }
  .newsletter-join button {
    color: #e9e9e9;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.6rem;
    cursor: pointer; }
  .newsletter-join input,
  .newsletter-join button {
    background: none;
    border: none;
    padding: 0.2rem;
    margin: 0.2rem; }
  .newsletter-join input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.5); }
  .newsletter-join input:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.5); }
  .newsletter-join input::-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.5); }
  .newsletter-join input::placeholder {
    color: rgba(255, 255, 255, 0.5); }
  .newsletter-join .social-media-icons i {
    color: #e9e9e9;
    margin: 0 0.3rem; }

header {
  height: 8.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  header .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    header .logo div {
      display: inline-block; }
    header .logo-img {
      font-size: 4rem;
      -webkit-transform: scale(0.5, 1);
              transform: scale(0.5, 1);
      text-decoration: underline;
      font-family: "Palatino Linotype", serif; }
    header .logo-text {
      text-transform: uppercase;
      font-size: 1rem;
      letter-spacing: 5px;
      font-weight: 0;
      line-height: 13px;
      margin-bottom: -20px; }
  header .logo,
  header .nav-container {
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto; }
  header .nav-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    header .nav-container .nav {
      text-align: right;
      text-transform: uppercase;
      font-size: 0.7rem;
      letter-spacing: 0.2rem; }
      header .nav-container .nav-link-dropdown {
        margin: 0.3rem 0.7rem; }
        header .nav-container .nav-link-dropdown .nav-link {
          padding: 0.2rem; }
        header .nav-container .nav-link-dropdown .dropdown-content {
          background: #f1f1f1;
          visibility: hidden;
          opacity: 0;
          position: absolute;
          z-index: 1;
          padding: 15px 18px;
          text-align: center;
          min-width: 180px;
          display: block;
          margin-left: -25px;
          margin-top: 10px; }
          header .nav-container .nav-link-dropdown .dropdown-content li a.dropdown-link {
            line-height: 2;
            padding: 0.2rem 0.5rem; }
      header .nav-container .nav .nav-link-dropdown:hover .dropdown-content {
        visibility: visible;
        opacity: 1;
        -webkit-transition: 0.2s;
        transition: 0.2s;
        margin-left: -4rem;
        margin-top: 0px; }
      header .nav-container .nav .nav-link-dropdown:last-of-type:hover .dropdown-content {
        margin-left: -120px; }
      header .nav-container .nav-link-dropdown,
      header .nav-container .nav .fa-search {
        display: inline-block; }

a {
  color: #303030;
  text-decoration: none; }

li {
  list-style-type: none; }

.new-posts-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around; }
  .new-posts-container .new-post {
    -webkit-box-flex: 0.5;
        -ms-flex: 0.5;
            flex: 0.5;
    padding: 0.9rem; }
    .new-posts-container .new-post__details {
      padding: 1rem;
      text-align: center; }
      .new-posts-container .new-post__details .post-title {
        cursor: pointer;
        text-transform: capitalize;
        font-family: serif;
        letter-spacing: 2px;
        color: #303030; }
      .new-posts-container .new-post__details .post-date {
        font-size: 0.6rem;
        color: #adadad;
        letter-spacing: 2px; }
      .new-posts-container .new-post__details .dot-decoration {
        margin: 1rem auto; }
    .new-posts-container .new-post .post-img {
      background: url("/imgs/bridge.jpg") center/cover no-repeat;
      height: 35vw;
      max-height: 600px;
      width: 100%; }
  .new-posts-container .new-post:hover .post-img,
  .new-posts-container .new-post:hover .post-title {
    opacity: 0.8;
    -webkit-transition: opacity 0.4s ease;
    transition: opacity 0.4s ease; }
  .new-posts-container .new-post:hover .post-title {
    text-decoration: underline; }

section {
  width: 100%;
  height: auto;
  display: block; }
