@import 'resets';
@import 'utilities';
@import 'variables';
@import 'basic';
@import 'font';




// NEWSLETTER BAR STYLING
.newsletter {
    &-container {
        padding: 0.5rem 1rem;
    }

    justify-content: space-between;
    align-items: center;

    // Keeps contents inline
    div,
    p {
        display: inline-block;
    }

    &-signup {

        input,
        &-btn {
            font-weight: bolder;
            background: none;
            border: none;
            caret-color: rgb(255, 255, 255);
        }

        &-btn {
            cursor: pointer;
        }
    }
}

.social-media-icons i {
    margin: 0 0.3rem;
}

// HEADER
header {
    padding: 1rem;
    align-items: center;
}

// LOGO
.logo {
    &-img {
        font-size: 3rem;
        text-decoration: underline;
        font-family: "Palatino Linotype", serif;
    }

    &-text {
        font-size: 1rem;
        letter-spacing: 5px;
        font-weight: 0;
        margin-bottom: -1rem;
        padding: 0.4rem;
    }
}

.logo,
.nav-container {
    flex: auto;
}

// Nav styling
.nav {

    // Nav container
    &-container {
        align-items: center;
        justify-content: flex-end;
    }

    // Nav-links
    &-link {
        margin: 0.3rem 0.7rem;

        // Nav-link dropdown functionality
        &-dropdown:hover .dropdown-content {
            visibility: visible;
            opacity: 1;
            transition: 0.3s;
            margin-left: -3.5rem;
            margin-top: 0px;
        }
    }


}

// Nav link dropdown box
.dropdown-content {
    background: rgb(241, 241, 241);
    //border-top: 1px dotted rgb(199, 199, 199);
    visibility: hidden;
    opacity: 0;
    position: absolute;
    z-index: 1;
    padding: 15px 18px;
    text-align: center;
    min-width: 180px;
    // Values -before- it changes position via hover
    margin-left: -2rem;
    margin-top: 0.3rem;
}


// Sets Nav horizontal + search icon
.nav-link-dropdown,
.fa-search {
    display: inline-block;
}

// Fix positioning of dropdown on last link. Could do media query? Useful for mobile?
.nav-link-dropdown:last-of-type:hover .dropdown-content {
    margin-left: -120px;
}


.flex-post {

    flex: 1;
}

// Front-page post catalog
.post {
    padding: 1rem;

    &__details {
        padding: 1rem;
    }

    &--large {
        position: relative;

        &__img {
            height: 90vh;

        }

        &__caption {
            width: 50%;
            background-color: rgb(255, 255, 255);
            position: absolute;
            bottom: 2.5rem;
            left: 2.5rem;
            padding: 4rem 3rem;
        }
    }

    &__img {
        height: 40vw;
        min-height: 30rem;
        max-height: 50rem;
    }

}




.grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;

    h1 {
        grid-area: 1 / 1 / 2 / 4;
    }

    .left-grid-col {
        grid-area: 2 / 1 / 3 / 2;
    }

    .right-grid-col {
        grid-area: 2 / 2 / 3 / 3;
    }
}

// Front page section header

.grid-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    // for last div align-items: flex-end;

    .section-title {
        grid-area: 1 / 2 / 2 / 3;
    }

    .section-title--link {
        grid-area: 1 / 3 / 2 / 4;
        justify-self: end;
        align-self: flex-end;
    }
}

section {
    max-width: 900px;
    margin: 0 auto;
}

.title-overlap {
    pointer-events: none;
}

.medium-bg {
    margin: 7rem 0;
}