@import 'resets';
@import 'utilities';
@import 'variables';
@import 'basic';
@import 'font';




// NEWSLETTER BAR STYLING
.newsletter {
    padding: 0.5rem 1rem;
    justify-content: space-between;
    align-items: center;

    // Keeps newsletter text inline
    &-title__text {
        display: inline-block;
    }

    &-signup {

        input,
        &__btn {
            font-weight: bolder;
            background: none;
            border: none;
            caret-color: rgb(255, 255, 255);
        }

        &__btn {
            cursor: pointer;
        }
    }
}

.social-media-icons i {
    margin: 0 0.3rem;
}

// HEADER
header {
    padding: 1rem;
    align-items: center;
}

// LOGO
.logo {
    align-items: center;

    &-img {
        font-size: $logo-img-font;
        text-decoration: underline;
        font-family: "Palatino Linotype", serif;
    }

    &-text {
        font-size: $medium-font;
        letter-spacing: 5px;
        font-weight: 0;
        margin-bottom: -1rem;
        padding: 0.4rem;
    }
}


// Nav styling
.nav {

    // Nav container
    &-container {
        flex: auto;
        align-items: center;
        justify-content: flex-end;
    }

    // Nav Link & Dropdown links
    &-dropdown {
        margin: 0 0.75rem;
        text-align: center;

        &-content {
            background: rgb(241, 241, 241);
            visibility: hidden;
            opacity: 0;
            position: absolute;
            z-index: 1;
            padding: 1rem 0.5rem;
            margin-left: -3.2rem;
            min-width: 180px;

            &__link {
                display: block;
            }
        }
    }

    // Nav Link dropdown functionality
    &-dropdown:hover .nav-dropdown-content {
        visibility: visible;
        opacity: 1;
        transition: 0.3s;
    }

    &-dropdown:last-of-type .nav-dropdown-content {
        margin-left: -7rem;
    }

    justify-content: flex-end;
    flex-wrap: wrap;

    // Nav-links
    &-link {
        padding: 0.4rem;
    }
}




// Front-page post catalog
.post {
    padding: 1rem;

    &--flex {
        flex: 1;
    }

    // Post text
    &__details {
        padding: 1rem;
    }

    // For full-image posts
    &--large {
        position: relative;

        &__img {
            height: 90vh;

        }

        &__caption {
            width: 50%;
            background-color: rgb(255, 255, 255);
            position: absolute;
            bottom: 2.5rem;
            left: 2.5rem;
            padding: 4rem 3rem;
        }
    }

    &__img {
        height: 40vw;
        min-height: 30rem;
        max-height: 50rem;
    }

}




.grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;

    h1 {
        grid-area: 1 / 1 / 2 / 4;
    }

    .left-grid-col {
        grid-area: 2 / 1 / 3 / 2;
    }

    .right-grid-col {
        grid-area: 2 / 2 / 3 / 3;
    }
}

.grid-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;

    .section-title {
        grid-area: 1 / 2 / 2 / 3;
    }

    .section-title--link {
        grid-area: 1 / 3 / 2 / 4;
        justify-self: end;
        align-self: flex-end;
    }
}

// Cheap media query
section,
header,
.newsletter {
    max-width: 1200px;
    margin: 0 auto;
}

// White space adjustment between posts
.medium-bg {
    margin: 7rem 0;
}