@import 'resets';
@import 'utilities';

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.newsletter-container {
    background-color: $primary-dark;
    padding: 0.5rem 2rem 0.5rem 0.5rem;
}

.newsletter-join {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $light-font;
    font-size: 0.8rem;

    div,
    p {
        display: inline-block;
    }

    button {
        color: $light-font;
        font-weight: bolder;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 0.6rem;
        cursor: pointer;

    }

    input,
    button {
        background: none;
        border: none;
        padding: 0.2rem;
        margin: 0.2rem;
    }

    input::placeholder {
        color: rgba(255, 255, 255, 0.5);
    }

    .social-media-icons {
        i {
            color: $light-font;
            margin: 0 0.3rem;
        }
    }
}

header {
    height: 8.5rem;
    display: flex;
    justify-content: space-between;

    .logo {
        display: flex;
        align-items: center;


        div {
            display: inline-block;
        }

        &-img {
            font-size: 4rem;
            //font-family: serif;
            transform: scale(0.5, 1);
            text-decoration: underline;
            font-family: "Palatino Linotype", serif;
        }

        &-text {
            text-transform: uppercase;
            font-size: 1rem;
            letter-spacing: 5px;
            font-weight: 0;
            line-height: 13px;
            margin-bottom: -20px;
        }
    }

    .logo,
    .nav-container {
        flex: auto;
    }

    .nav-container {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .nav {
            text-align: right;
            text-transform: uppercase;
            font-size: 0.7rem;
            letter-spacing: 0.2rem;

            // Links with dropdown links
            &-link-dropdown {
                margin: 0.3rem 0.7rem;


                // Link itself
                .nav-link {
                    padding: 0.2rem;
                }

                .dropdown-content {
                    background: rgb(241, 241, 241);
                    visibility: hidden;
                    opacity: 0;
                    position: absolute;
                    z-index: 1;
                    padding: 15px 18px;
                    text-align: center;
                    min-width: 180px;
                    display: block;
                    margin-left: -25px;
                    margin-top: 10px;

                    li {
                        a {}

                        a.dropdown-link {
                            line-height: 2;
                            padding: 0.2rem 0.5rem;
                        }
                    }
                }
            }

            .nav-link-dropdown:hover .dropdown-content {
                visibility: visible;
                opacity: 1;
                transition: 0.2s;
                margin-left: -4rem;
                margin-top: 0px;
            }

            // Fix positioning of dropdown on last link. Could do media query? Useful for mobile?
            .nav-link-dropdown:last-of-type:hover .dropdown-content {
                margin-left: -120px;
            }

            &-link-dropdown,
            .fa-search {
                display: inline-block;
            }
        }
    }
}

a {
    color: $dark-font;
    text-decoration: none;
}

li {
    list-style-type: none;
}

.new-posts-container {

    display: flex;
    justify-content: space-around;

    .new-post {

        flex: 0.5;
        padding: 0.9rem;

        &__details {

            padding: 1rem;
            text-align: center;

            .post-title {
                cursor: pointer;
                text-transform: capitalize;
                font-family: serif;
                letter-spacing: 2px;
                color: $dark-font;
            }



            .post-date {
                font-size: 0.6rem;
                color: $medium-font;
                letter-spacing: 2px;
            }

            .dot-decoration {
                margin: 1rem auto;
            }
        }

        .post-img {
            background: url('/imgs/bridge.jpg') center/cover no-repeat;
            height: 35vw;
            max-height: 600px;
            width: 100%;
        }


    }

    .new-post:hover {

        .post-img,
        .post-title {
            opacity: 0.8;
            transition: opacity 0.4s ease;
        }

        .post-title {
            text-decoration: underline;
        }
    }
}

section {
    width: 100%;
    height: auto;
    display: block;
}