$background: rgb(56, 57, 59);
$header: rgb(255, 111, 44);
$text-color: rgb(255, 243, 220);
$font-weights: (
    "regular": 400,
    "medium": 500,
    "bold": 700
);
$mobile: 800px;
$specialColor: blue;